
.main-job-form-container .sm-stepper{
    display: none;
}
@media (max-width: 600px){
    .main-job-form-container .md-stepper{
        display: none;
    }
    .main-job-form-container .sm-stepper{
        display: block !important;
    }
    .main-job-form-container .sm-stepper > div > div span {
    padding: 0 !important;
    }
}

.main-job-form-container .stepper-content{
     margin: 0 16px;
}
.main-job-form-container .stepper-content label {
    font-weight: 500;
}
.main-job-form-container .stepper-content label.title {
    font-weight: 600 !important;
}
@media (min-width: 1050px){
    .stepper-content{
        width: calc(100vw / 12 * 8) !important;
        margin: 0 auto !important;
    }
}