@font-face {
    font-family: SFUI Display;
    src: url('./assets/fonts/SFUI/SFUI.otf');
}

@font-face {
    font-family: SFUI_Text;
    src: url('./assets/fonts/SFUI/SFUI_Text.ttf');
}

@font-face {
    font-family: SFUI_Display_Light;
    src: url('./assets/fonts/SFUI/SFUI_DISPLAY_LIGHT.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif,"SFUI_Text";
  color:#414141;
}
