
.forget-password-container .forget-header .shadow-image{
    background-color:#2e2e2e;            
    left: 0;
    right:0;
    width:100%;
    height: 100%;
    opacity:0.48;
    position:absolute
}
.forget-password-container .forget-view{
    max-width: 450px;
    display: block;
    margin: 0 auto;
    margin-top:122px;
}
.forget-password-container .forget-header{
    height:250px;   
    max-height: 250px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("../../assets/fourth-screen.png");
    background-position: center;
    background-size: cover;
    background-color: black;
}
.forget-password-container .forget-header p{
    color:white;
    font-family:"Roboto",sans-serif;
    font-size:26px;
    z-index: 10
}
/*.forget-password-container .login-header{
    display:flex;
    justify-content: center;
    align-items: center;
}*/
.forget-password-container .fields-container{
    padding: 30px;
}
.forget-password-container .fields-container label {
    font-weight: 500;
}
.forget-password-container .fields-container .title{
    color: #2e2e2e;
    font-weight: 400;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    margin-bottom: 26px;
    line-height: 28px
}
.forget-password-container .fields-container .create-account{
    color:#387cff;
    font-size:16px;
    font-family:"Roboto", sans-serif;
    line-height: 22px;
}
.forget-password-container .fields-container .error-icon{
    position: relative;
    top: -65px;
    left: 95%;
}
.forget-password-container .fields-container .forget-password{
    color:#387cff;
    font-size:16px;
    font-family:"Roboto", sans-serif;
    line-height: 22px;
    float: right;
}

.forget-password-container .paper-container .footer-container{
    text-align: right;
    color: black;
}
.forget-password-container .paper-container .footer-container .back-btn{
    float: left;
}
.forget-password-container .paper-container .footer-container .btn-icon{
    height: 23px;
    margin-bottom: 2px;
}
.forget-password-container .paper-container .footer-container .back{
    margin-right: -10px !important;
}
.forget-password-container .paper-container .footer-container .continue{
    margin-left: -7px !important;
}
.forget-password-container .md-screen{
        display: block;
}
.forget-password-container .sm-screen{
    display: none;
    margin-bottom: 50px;
}
.forget-password-container .sm-screen .footer-container{
    position: fixed;
    z-index: 10;
    left: 18px;
    right: 18px;
    bottom: 20px;

}
.forget-password-container .sm-screen .fields-container{
    padding: 30px 19px 30px 19px;
    /*margin-bottom: 500px;*/
}

.forget-password-container .sm-screen .help-button{
    position: fixed;
    left: 18px;
    right: 18px;
    bottom: 87px;
}

@media (max-width: 600px){
    .forget-password-container .md-screen{
        display: none !important;
    }
    .forget-password-container .forget-header{
        height: 128px;
        max-height: 128px;  
    }
    .forget-password-container .sm-screen{
        display: block !important;
        /*margin-top: -44px;*/
    }
    .forget-password-container .create-account{
        font-size:15px !important;
    }
    .forget-password-container .forget-password{
        font-size:15px !important;
    }
}