.aboutus-content .first{
  color:#2e2e2e;
  font-size:26px;
  padding-bottom:36px;
  line-height: 36px;
  border-bottom:1px solid #f2f2f2;
  font-family: calibre;
}
.about .background-image-mobile{
  /*bottom:0 !important;*/
}
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.contact-us .contact-us-button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
.aboutus-content .second , .aboutus-content .last{
  margin-top:36px;
  color:#2e2e2e;
  font-size:20px;
  line-height: 28px;
  padding-bottom:36px;
  opacity: 0.72;
  border-bottom:1px solid #f2f2f2;
}
.contact-us .contact-us-button{
  width: 134px !important;
  height: 44px !important;
  text-transform: none !important
}
.aboutus-content .last{
  border:0;
  padding-bottom:96px
}
.aboutus-content{
  padding-top: 96px;
  padding-bottom: 50px;
  max-width: 750px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px
}

@media(max-width:630px){
  .aboutus-content {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .home-container .contact-us{
    margin-bottom:30px
  }
}
