.certification-container .paragraph{
    text-align: justify;
    font-size:17px;
    margin-top:20px;    
    margin-bottom:20px;
    color:#2e2e2e
}
.certification-container .title{
    font-family:'calibre-medium';
    margin-top:15px;
}
.dialog-box > div > div > div{
    border-radius: 7px !important
}
.dialog-box .title-cong{
    display:inline-block !important
}

.dialog-box > div > div > div > div >h3{
    color:#2e2e2e !important;
    padding: 0px 23px 0px !important;
    font-size:20px !important;
    font-family:calibre-medium !important
}
.dialog-box > div > div > div >div{
    margin: 0 !important;
    padding: 0 !important;
    color: #2e2e2e !important;
}
.dialog-box .close-icon{
    float: right;
    top: 13px;
    position: relative;
    right: 11px;
    opacity: 0.6;
    cursor: pointer
}
.dialog-box > div > div > div>div:nth-child(2){
    padding:22px 24px 13px !important;
    color:rgba(46,46,46,0.6) !important;
    background-color: #fbfbfc !important;
}
.dialog-box > div > div > div>div:nth-child(3){
    text-align: left !important;
    padding:14px 24px 15px !important;

}