.certification-container .paragraph{
    text-align: justify;
    font-size:17px;
    margin-top:20px;    
    margin-bottom:20px;
    color:#2e2e2e
}
.certification-container .title{
    font-family:'calibre-medium';
    margin-top:15px;
}