.equal-opprtunity-container .paragraph{
    text-align: justify;
    text-justify: inter-word;
    font-size:17px;
}

.equal-opprtunity-container .title{
    font-size: 20px;
    margin-bottom: 11px;
    font-family:'calibre-medium';
    margin-top:15px;
    margin-left:1px;
}

@media(max-width:630px){
    .equal-opprtunity-container .title
    {
        margin-left:-7px;
    }
    .equal-opprtunity-container .paragraph{
        margin-left: -7px;
        margin-right: 7px;
    }
}