.signup-container .paper-container{
    max-width: 500px;
    display: block;
    margin:0 auto;
    margin-top: 50px;
}
.signup-container .fields-container{
    padding: 30px;
}
.signup-container .fields-container .title{
    color: #c5c0c0;
    font-weight: 500;
}
.signup-container .paper-container .footer-container{
    text-align: right;
    padding: 20px 5px;
}
.signup-container .paper-container .footer-container .back-btn{
    float: left;
}

.signup-container .md-screen{
        display: block;
}
.signup-container .sm-screen{
    display: none;
}

@media (max-width: 600px){
    .signup-container .md-screen{
        display: none !important;
    }
    .signup-container .sm-screen{
        display: block !important;
        margin-top: -44px;
    }
}