.footer-container-main{
    display:flex;
    justify-content: space-between;
    height:100px;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container-main .copyright{
    color:#9b9b9b;
    font-size:9pt;
    margin-right:5%;
}
.footer-container-main .icon{
    margin-left: 5%;
    margin-right:80px;
}

@media(max-width:680px){
    .footer-container-main .copyright{
        display: block;
        margin: 0 auto;
        width: 86%;
        text-align: center;
        border-top: 1px solid #eeefef;
        padding-top: 11px;
        padding-bottom: 18px;
    }
    .footer-container-main .social-media{
        margin-right:20px;
    }
}