.footer-container-main{
    display:flex;
    justify-content: space-between;
    height:100px;
    align-items: center;
}

.footer-container-main .copyright{
    color:#9b9b9b;
    font-size:9pt;
    margin-right:5%;

}
.footer-container-main .icon{
    margin-left: 5%;
    margin-right:80px;
}