.footer-container-main{
    display:flex;
    justify-content: space-between;
    height:120px;
    align-items: center;
    flex-wrap: wrap;
    border-top:1px solid #f2f2f2;
}

.footer-container-main .copyright{
    color:#2e2e2e;
    font-size:14px;
    margin-right:5%;
    font-weight: 500;
    opacity:0.48
}
.footer-container-main .icon{
    margin-left: 5%;
    margin-right:11%;
}
@media(max-width:680px){
    .footer-container-main .copyright{
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: right;
        border-top: 1px solid #eeefef;
        padding-top: 11px;
        padding-bottom: 18px;
        margin-right: 25px;
    }
    .footer-container-main{
        border-top:none;
        padding-top:none;

    }
    .footer-container-main .social-media{
        margin-right:20px;
    }
}