.login-container .paper-container{
    /*max-width: 500px;*/
    /*display: block;*/
    /*margin:0 auto;*/
    /*margin-top: 50px;*/
}
.login-container .login-header .shadow-image{
    background-color:#2e2e2e;
    left: 0;
    right:0;
    width:100%;
    height: 100%;
    opacity:0.48;
    position:absolute
}
.login-container .login-view{
    max-width: 450px;
    display: block;
    margin: 0 auto;
    margin-top:122px;
}
.login-container .login-header{
    height:250px;   
    max-height: 250px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("../../assets/login-header.png");
    background-position: center;
    background-size: cover;
    background-color: black;
}
.login-container .login-header p{
    color:white;
    font-family:"Roboto",sans-serif;
    font-size:26px;
    z-index: 10
}
/*.login-container .login-header{
    display:flex;
    justify-content: center;
    align-items: center;
}*/
.login-container .fields-container{
    padding: 30px;
}
.login-container .fields-container label {
    font-weight: 500;
}
.login-container .fields-container .title{
    color: #2e2e2e;
    font-weight: 500;
    font-size:20px;
    font-family: "Roboto" sans-serif;
    margin-bottom:46px;
}
.login-container .paper-container .footer-container{
    text-align: right;
    padding: 5px;
    color: black;
}
.login-container .paper-container .footer-container .back-btn{
    float: left;
}
.login-container .paper-container .footer-container .btn-icon{
    height: 23px;
    margin-bottom: 2px;
}
.login-container .paper-container .footer-container .back{
    margin-right: -10px !important;
}
.login-container .paper-container .footer-container .continue{
    margin-left: -7px !important;
}
.login-container .md-screen{
        display: block;
}
.login-container .sm-screen{
    display: none;
    margin-bottom: 50px;
}
.login-container .sm-screen .footer-container{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ededed;

}

@media (max-width: 600px){
    .login-container .md-screen{
        display: none !important;
    }
    .login-container .sm-screen{
        display: block !important;
        margin-top: -44px;
    }
}