.personal-applicant-container .title{
    font-size:16px;
    margin-top:20px;
    margin-bottom:12px;
}
.personal-applicant-container .sub-title{
    font-size:15px;
    margin-top:20px;
    margin-bottom:12px;
}
.personal-applicant-container .question{
     font-size: "16px" 
}
