.text-left{
  /*font-family: SFUI_Text;*/
  color:#494949
}
.home-container .title{
  color: #2e2e2e;
  font-size: 48px; 
  font-family: 'calibre';
}
.home-container .contact-us .text{
  color:white;
      font-size: 26px;
    max-width: 343px;
    max-height: 72px;
  /*font-family: 'Roboto',sans-serif;*/
  text-align: center;
  margin-bottom:20px;
}
.home-container .main-paper-parent{
  max-width: 1306px;
  margin: 0 auto;
}
.home-container .arrow-next{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 5%;
    cursor: pointer;

}
.home-header-container .get-started-button{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
transition-property: transform;
}
.home-container .carousel-dots{
  position: absolute;
  top: 68%;
  bottom: 50%;
  left: 50%;
  cursor: pointer;
}
.home-container .carousel-dots > img{
  padding-right:10px
}
.home-container .carousel-dots > img:nth-last-child(1){
  padding-right:0px;
}
.home-container .desktop-view{
  margin-left:0 !important;
  margin-top:96px;
}

.mobile-view{
  display:none;
}
.home-container .arrow-prev{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 5%;
    cursor: pointer;
}
@media(max-width:1032px){
  .home-container .arrow-prev{
     right:3%;
  }
  .home-container .arrow-next{
    left:3%
  }
}
@media(max-width:906px){
  .home-container .arrow-prev , .home-container .arrow-next{
    display:none;
  }
}
.home-container .contact-us{
  min-height:260px;
  background: url("../../assets/bg.png");
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.home-container .slider-section .carousel-contents{
  min-height:476px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-container .slider-section{
  min-height: 476px;
  position: relative;

}
  .home-container .scroll-down .icon-mobile{
  display:none;
}
.home-container .background-image-mobile{
  display:none;
}
.home-container .slider-section .carousel-title{
  color:#3B7CFF;
  font-size:20px;
  margin-bottom:20px;
}
.home-container .slider-section .contents
{
  max-width:810px;
  font-size:26px;
  text-align: center;
  font-family:'calibre-regular-italic'
}
.home-container .title-desc{
  font-size: 26px;
  display: block;
  color:#2e2e2e;
  opacity:0.72;
  max-width:460px;
  font-family:'calibre'
}
.paper-container .h3{
  color:#414141;
}
.home-container .apply-desc{
  margin-top: 20px;
  color: #2e2e2e;
  font-size: 20px;  
  font-stretch: normal;
  font-weight: 400;
  font-family: 'calibre';
  opacity:0.48;
}
.home-header-container .get-started-button{
  margin-top:48px !important;
  height:48px !important;
  margin-left:0px !important;
  width:139px !important;
  border-radius:6px !important
}
.home-header-container .content{
  /*margin-left:66px;*/
}
.home-container .scroll-down .text{
  margin-left: 24px;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.3;
  font-family:'calibre-medium'
}
.home-header-container .background-image{
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  max-width: 82vw;
}
.home-container .scroll-down{
  /*margin-top: 35px;*/
  cursor: pointer;
  margin-left: 210px;
  cursor: pointer;
}
.home-container .paper-parent-container{
  background-color:#fafbfb;
  padding-top: 75px;
  padding-bottom: 75px;
}
.home-container .paper-parent-container .paper-title{
  color:#2e2e2e;
  margin-bottom: 54px;
  margin-left: 8px;
  font-weight: 400;
  font-size:36px;
  margin-top:96px
}
.home-container .paper-parent{
  flex-wrap: wrap;
  /*-webkit-rows: 20em;
  -moz-rows: 20em;
  rows: 20em;*/
  -webkit-columns: 20em 3;
  -moz-columns: 20em 3;
  columns: 20em 3;
  /*max-width: 1000px;*/
}

.paper-parent h3 {
  font-weight: 400;
  color:#414141;
  font-family: 'calibre';
}
.apply-paper:hover{
  box-shadow: rgba(9, 13, 31, 0.1) 0px 4px 8px 4px !important;
}
.apply-paper{
  width: 312px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  min-height: 224px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.home-header-container .apply{
  margin-top: 0;
  margin-bottom:35px;
  width:128px
}
.home-header-container .header-body{
  padding-left: 11px;
  display:flex;
  align-items: flex-end;
  position:relative;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-top:90px
}
/* Button Pop */
/*@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}*/

.home-header-container .get-started-button:hover ,.home-header-container .get-started-button:focus , .home-header-container .get-started-button:active , .home-container .home-apply-button:hover, .home-container .home-apply-button:focus, .home-container .home-apply-button:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.home-header-container{
  min-height:640px;
}
.home-apply-button{
    display: none !important;
    margin: 0 auto;
    
}
.home-container .header-image > img{
    /*max-width:355px;*/
    margin-right:0px;
    /*margin-top:50px;*/
    /*max-width: 459px;*/
    margin-bottom: 64px;
    width: 100%;
    height: auto; 
  }
@media (max-width: 800px){
  .home-header-container{
    flex-wrap: wrap;
  } 
  .home-header-container .content{
    /*text-align: center;*/
  }
  .home-header-container .apply-desc{
    /*text-align: center;*/
  }

  .home-apply-button{
    display: block !important;
    margin: 0 auto;
    margin-top: 40px;
  }
  .get-started-button{
    display: none !important;
  }
}
.home-header-container h2{
  /*font-family: "SFUI Display";*/
}

@media (max-width: 945px) {
  .apply-paper {
     width: 94% !important;
     /*margin: 7px;*/
  }
  .home-header-container .background-image {
    max-width: initial;
    width:95%
}

}
@media (max-width: 680px) {
  .apply-paper {
    width: 96% !important;
    margin: 0 0 20px 8px ;
  }
  .home-container .header-image > img{
    margin-top: 50px
  }
  .desktop-view{
    display:none;
  }

  .mobile-view{
    display:block;
  }
.home-container .carousel-dots{
  left:48%;
  top:75%
}
  .apply-paper .more-button > div > span{
    font-size:12px !important;
    font-weight: bold !important
  }
  .apply-paper .footer-container{
    padding-top:3px !important;
    padding-left: 10px !important;
  }
    .apply-paper .apply-button-style > div > span{
    font-size:12px !important;
    font-weight: bold !important;
    padding-left:7px !important
  }

  .apply-paper .paper-container{
    padding-bottom:17px !important;
  }
  .paper-parent .paper-container h3{
    /*font-size:20px !important;*/
  }
  .home-container .scroll-down .icon{
    display:none;
  }
  .home-container .label-title{
    /*font-size:13px;*/
  }
    .home-container .label-desc{
    /*font-size:13px;*/
  }
  .home-container .scroll-down .icon-mobile{
    display:inline;
    margin-left:10px;
  }
  .home-container .scroll-down .icon-mobile > img {
      width:18px;
  }

  .home-container .scroll-down{
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 17px;
  }
  .home-container .scroll-down .text{
    color:white;
    opacity:1;
  }
  .home-container .paper-parent-container{
    padding:15px;
  }
  .home-container .paper-parent-container .paper-title{
    margin-left: 4px;
    margin-top: 63px;
  }
  .home-container .background-image-mobile{
    display:block;
    position: absolute;
    z-index: -2;
    bottom:-43px;
    width: 100%;
    left: 0;
    height:100%;
  } 
  .home-container .background-image{
    display:none;
  }
  .home-header-container .header-body{
    flex-wrap: wrap !important;
    padding-left:0px
  }
  .home-header-container .content{
    margin-left:0px;
    text-align: center;
    margin-top:40px;
  }
  .home-header-container .home-apply-button{
    text-align: center;
    display: block !important;
    margin:0 auto !important;
    margin-top:40px !important;

  }
  .home-container .title-desc{
    text-align: center;
    max-width: 334px;
    margin:16px auto;
  }
  .home-container .apply-desc{
      /*font-size: 5vw !important;*/
      text-align: center;
      max-width: 338px;
        }
}
.apply-paper .paper-container{
  padding: 20px 27px 23px 24px;
}
.apply-paper .paper-bar{
  width:84%;
  height:1px;
  margin:0 auto;
  background:linear-gradient(0deg, #dee1e1 40%, #f4f4f4 66%)
}

.text-left{
  text-align: left;
}
.alignment{
    margin-top:15px;
}
.apply-paper .footer-container{
  padding: 7px 0 20px 7px;
}

.apply-paper .showMoreDesc-container{
  margin-top: 15px;
  max-height:10000px;
  
}
.apply-paper .paper-container .label-title{
  line-height: 1.89;
  color:#2e2e2e;
  font-size:16px;
  font-family: 'calibre-medium';

}
.apply-paper .paper-container .icon{
  margin-right:5px;
  margin-top:-3px;
}
.apply-paper .paper-container .label-desc{
  opacity:0.58;
  font-size: 16px;
  font-family: 'calibre-medium';

}

.apply-paper .apply-job-btn{
  width: 100%;
}
.apply-paper .cross-btn{
  display: inline !important;
  height: 15px;
  float: right;
  cursor: pointer;
  margin-right: -16px;
}

@media(min-width:1380px)
{
  .home-container .paper-parent{
      columns: 4;
      column-gap: 3em;
      -webkit-columns: 4;
      -moz-columns: 4
  }
}

@media(max-width:1380px){
  .home-container .main-paper-parent{
    max-width:1023px;

  }
}