.work-hours-container .inline-radio{
    display: inline-block !important;
    width: 150px !important;
}
.work-hours-container .inline-fields{
    float: left;
}
.work-hours-container .right{
    float:right;
}
.work-hours-container .inline{
    display: inline;
    
}