.width-limit{
  max-width: 1116px;
  margin: 0 auto;
  opacity: 1;
}
.child-page-active{
  max-width: 1116px;
  margin: 0 auto;
  opacity:0.5;
  /*display:none; */
}

body{
  background-color: #fefefe !important;
}
.app-box-shadow{
  box-shadow: rgba(135, 152, 164, 0.1) 0px 6px 8px !important
}