.child-page{
  max-width: 1110px;
  margin: 0 auto;
}
body{
  background-color: #fefefe !important;
}
.app-box-shadow{
  box-shadow: rgba(135, 152, 164, 30) 0px 1px 6px, rgba(135, 152, 164, 30) 0px 1px 4px;
}