.transportation-container .inline-radio{
    display: inline-block !important;
    width: 76px !important;
    margin-top:5px;
    font-size:15px;
    font-weight: 400 !important
}
/*.transportation-container .inline-fields{
    float: left;
}*/
/*.transportation-container .right{
    float:right;
}
.transportation-container .inline{
    display: inline;
    
}*/