.navbar-container .navbar-border{
  border-radius: 0;
}
.navbar-container .logo{
  width: 150px;
  height: 48px;
  position: absolute;
  left: 90px;
}
.hamburger-icon{
  display: none !important;
}
@media (max-width: 630px) {
  .hamburger-icon{
    display: inline !important;
  }
  .md-menu{
    display: none;
  }
  .navbar-container .logo {
    left: 20px;
  }
}