.navbar-container{
  /*box-shadow: rgba(135, 152, 164, 0.2) 0px 6px 16px !important;*/
  /*max-width: 1116px;*/
  margin:0 auto;
}
.navbar-home-container-color{
  background-color: #fbfef9;
}
.navbar-container-color{
  /*background-color:white !important;*/
  display:block;
  margin:0 auto;
  position:absolute;
  top:10px;
  left:0;
  right:0;
}
.navbar-left-icon{
  margin-left:100px !important;
}
.navbar-container .menu-container{
  margin-right: 58px !important;
}
.navbar-container > div > div{
  box-shadow: none !important;
  background-color: #fbfef9;
}
@media (min-width:1116px){
  .navbar-container > div > div{
    /*width: 1116px !important;*/
    margin: 0 auto;
  }
}
.navbar-container .navbar-border{
  border-radius: 0;
}
.navbar-container .logo{
  /*width: 150px;
  height: 48px;*/
  margin-left:60px;
}
.navbar-container .hamburger-icon{
  display: none !important;
}
.navbar-container .lang-select{
  width: 64px !important;
  bottom: 14px;
  top:25px;
  /*right: 45px;
  /*position:static !important;*/
  height:32px !important;
  border-radius: 7px;
  border:1px solid #f2f2f2;
  /*display:-webkit-inline-box !important;*/
  justify-content: center;
  align-items: center;
  margin-right:8px;
  /*z-index: -9000 !important;*/
}
.navbar-container .dashboard-icon {
  vertical-align: inherit !important
}
.navbar-container .logo-navbar{
  width:50px;
  margin-top:8px;
  margin-left:25px;
}
.navbar-container .navbar-right-icon{
  position:relative;
  margin-right:25px;
}
.navbar-container .dashboard-icon{
  margin-top:10px;
  cursor:pointer;
}
.navbar-container .dash-icon{
  margin-top:10px;
  margin-right:90px;
}
.navbar-container .navbar-login-items{
  padding-left:90px !important;
}
.navbar-container .close-icon{
  margin-top:12px;
  cursor:pointer;
  vertical-align: inherit !important
}
.navbar-container .sub-menu{
  padding-left: 21px;
  color: #373e9b;
  font-family: "SFUI_Text";
  width:100%;
  position:absolute;
  overflow: auto;
}
.navbar-container .navigation-button-about{
    opacity: 0.58;
    min-width:36px !important;
    color:white;
    margin-right:20px;
}
.navbar-container .title-bar img{
  display:none;
}
.navbar-container .navigation-button{
    min-width:36px !important;
    color:white;
    margin-right:20px;
    font-weight: 600;
}
.navbar-container .apply-button > button ,.navbar-container .apply-button  {
    box-shadow:none !important;
    border-radius: 8px !important;
    border:1px solid #f2f2f2;
}
.job-sub-menu {
    min-width: 100%;
    margin:103px auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    left:0;
    background-color: #feffff;
    overflow-x: hidden;
}
.job-sub-menu .job-sub-navbar {
    opacity: 1;
    display:block;
    position: absolute;
    top:20px;
    right:360px;
    align-self:flex-end;
}
.job-sub-menu .card-icon {
    width:16px !important;
    height:16px !important;
    position:absolute;
    top:14px;
    right:14px
}
.job-sub-menu .categories-disabled{
  color:#a49f9f !important
}
  .navbar-container .sm-screen .menu-container{
    display:none;
  }
.job-sub-menu .categories{
  margin-bottom: 8px;
  height:45px;
  align-items: center;
  display:flex;
  font-family: 'Roboto',sans-serif;
  width:420px !important;
  position: relative;
  border-radius:4px !important;
  font-size:16px;
  padding-left:36px;
  box-shadow: rgba(9, 13, 31, 0.1) 0px 4px 8px 0px, rgba(9, 13, 31, 0.1) 0px 7px 20px !important
  /*box-shadow: 0px 6px 12px rgba(46, 46, 46, 0.08);*/
}
.navbar-container .sub-menu .menu-info {
  margin-top: 25px !important;
}
.navbar-container .sub-menu .contact-info {
  color: black;
}
.navbar-container .sub-menu .contact-info .title {
  color: gray !important;
  font-size: 22px;
}
.navbar-container .slide-in {
    animation: slide-in 0.5s ease;
    -webkit-animation: slide-in 1.0s ease;
}

.slide-in-job{
    animation: slide-in 0.5s ease;
    -webkit-animation: slide-in 0.5s ease;
}
@keyframes slide-in {
    	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slide-in {
       	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}	
}

.navbar-container .sub-menu > div {
  padding: 10px 0 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.navbar-container .menu-container{
  margin-top: 5px;
}
.navbar-container .menu-container .md-menu button{
  margin: 0 7px 0 0 !important;
}
@media (max-width: 680px) {
  .navbar-container .sm-screen .dash-icon{
    display:none;
  }
  .navbar-container .title-bar .title{
    display: none;
  }
  .navbar-container .title-bar img{
    display: inline-block
  }
  .navbar-container .navbar-login-items{
    padding-left:15px !important;
  }
  .navbar-container .sm-screen .menu-container{
    display:inline-block;
  }

  .navbar-container .menu-container{
      margin-right:0px !important;
  }
  .navbar-container .navigation-button-about , .navbar-container .navigation-button{
    color:#2e2e2e;
  }
  .navbar-container .logo{
    margin-left:0;
  }
  .navbar-defaults{
      border-bottom:1px solid #eeefef
  }
  .job-sub-menu{
    margin-top:20px ;
  }
  .navbar-container .menu-container{
    margin-top: 4px;
    margin-right: 8px !important;  
  }
  .navbar-container .hamburger-icon{
    /*display: inline !important;*/
  }
  .navbar-container .close:hover{
    /*transform: rotate(85deg)*/
  }
  .navbar-container .navbar-right-icon   
  {
    margin-right:17px;
  }
  .job-sub-menu .categories{
    width:90% !important;
  }
  .navbar-container .logo-navbar{
    margin-left: 0px;
  }
  .navbar-container .lang-select{
  /*right: 46px;*/
}
  .md-menu{
    display: none;
  }
}