.navbar-container .navbar-border{
  border-radius: 0;
}
.navbar-container .logo{
  width: 150px;
  height: 48px;
  position: absolute;
  left: 90px;
}
.navbar-container .hamburger-icon{
  display: none !important;
}
.navbar-container .sub-menu{
  margin-top: 15px;
  color: #373e9b;
}
.navbar-container .sub-menu > div {
  padding: 10px 0 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.navbar-container .menu-container{
  margin-top: 5px;
}
@media (max-width: 630px) {
  .navbar-container .hamburger-icon{
    display: inline !important;
  }
  .md-menu{
    display: none;
  }
  .navbar-container .logo {
    left: 20px;
  }
}