.employee-content{
padding-top: 96px;
  padding-bottom: 50px;
  max-width: 750px;
  margin: 0 auto;
}       

.employee-content .first{
  color:#2e2e2e;
  font-size:26px;
  padding-bottom:20px;
  line-height: 36px;
  margin-bottom:72px;
  /*font-family: 'Roboto', sans-serif;*/
}
.home-container .employee .text{
    max-height:106px !important;
}
.home-container .employee{
    min-height:292px !important
}
.employee-content .choices{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.employee-content .choice-icon , .employee-content .content{
    display:inline-block;
    align-self: center;
}

.employee-content .choice-title{
    font-family: 'calibre-medium';
    font-size: 26px;
    color: #2e2e2e;
    max-height:36px;
}

.employee-content .choice-desc{
    font-family: 'calibre';
    font-size:20px;
    color:#2e2e2e;
    opacity:0.64;
}
.employee-content .choice-icon{
    position:relative;
    bottom:0px;
    margin-right:24px
}
.employee-content .template{
    margin-bottom: 20px;
   display: flex;
    justify-content: center;
    /*padding-bottom: 10px;*/
    border-radius: 6px; 
    min-height:96px;
    min-width:360px;
    /*box-shadow: 20px 10px 20px rgba(9,13,31,.1);*/
    box-shadow: 0 6px 53px rgba(9,13,31,0.07)
}
  .home-container .seprator{
      display:none;
  }


@media(max-width:680px){
  .employee-content {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .home-container .seprator{
    border-bottom:1px solid #f2f2f2;
    display:block;
  }
  .home-container .contact-us{
    margin-bottom:30px
  }
  .home-container .choices{
  }
  .employee-content .template{
        box-shadow: none;
        padding-bottom:0;
        padding-left:0;
        padding-right:0;
        padding-top: 27px;
        margin-bottom:16px;
  }
  .employee-content .choices{
        display:block;

  }
    .employee-content .first{
        font-size:20px;
    }
}
@media(max-width:680px){
    .employee-content{
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;

    }
}
