/*.job-applicant-container{
    padding-top: 20px;
    padding-bottom: 20px;
}*/
.button-container{
    display:inline-flex
}
@media (max-width: 630px){
    .button-container{
        display:flex;
        flex-wrap: wrap
    }
    .button-container .first-button{
        order:2;
        margin-top:8px !important;
        display:block !important;
        width:100% !important
    }
    .button-container .second-button
    {
        order:1;
        display:block !important;
        width:98% !important;
    }
}